In [6]:
import pandas as pd

In [7]:
# 2 main datatypes
cars=pd.Series(["BMW","Tyota","Honda"])
cars

0      BMW
1    Tyota
2    Honda
dtype: object

In [8]:
# series=1-dimensional
colours=pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [9]:
# DataFrame = 2 - Dimensional
car_data=pd.DataFrame({"Car make":cars,"Colour":colours})
car_data

  Car make Colour
0      BMW    Red
1    Tyota   Blue
2    Honda  White

In [26]:
# .loc & .iloc
animals=pd.Series(["cat","dog","bird","pandas","snake"],index=[0,3,9,8,3])
animals

0       cat
3       dog
9      bird
8    pandas
3     snake
dtype: object

In [27]:
# .loc represents index

#remember index starts from 0 to the end
animals.loc[3] #Elements at index location 3

3      dog
3    snake
dtype: object

In [28]:
animals.loc[9]

'bird'

In [29]:
# .iloc refers to position
animals.iloc[3] # 3 represents the position of the object

'pandas'

In [33]:
animals

0       cat
3       dog
9      bird
8    pandas
3     snake
dtype: object

In [34]:
animals.iloc[:3] # it gives us items in aminals upto the 3rd position
# This contins element starting form [0 to End-1]

0     cat
3     dog
9    bird
dtype: object

# The End